@model CommandCenter.Models.CrisesModel

@{
    Layout = null;
}

<div class="atualizacaocrs-container">
    <h1>@ViewData["Title"]</h1>

    <form method="post" asp-action="EncerrarCrise" asp-controller="Crises">

        <div>Cauza Raiz resolvida ?</div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" value="false" onclick="cauzaRaiz(true)">
            <label class="form-check-label" for="radioDefault1">
                Não
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" value="true" checked onclick="cauzaRaiz(false)">
            <label class="form-check-label" for="radioDefault2">
                Sim
            </label>
        </div>

        <!-- Campo de Atualização do Status -->
        <input type="hidden" name="id" value="@Model.Id" />



        <div class="form-group" id="contentCauzaRaiz" style="display: none">
            <label for="CausaRaizResolvida">🛠 Explicação do porque a cauza raiz foi ou não resolvida</label>
            <textarea asp-for="CausaRaizResolvida" class="form-control" rows="2"></textarea>
            <span asp-validation-for="CausaRaizResolvida" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="SolucaoAplicada">🛠 Solução aplicada:</label>
            <textarea asp-for="SolucaoAplicada" class="form-control" rows="3"></textarea>
            <span asp-validation-for="SolucaoAplicada" class="text-danger"></span>
        </div>


        <!-- Botão para Atualizar Crise -->
        <button type="submit" class="btn btn-primary mt-3">Atualizar Crise</button>
    </form>
</div>


<style>
    .atualizacaocrs-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px;
    }
</style>

<script>
    function cauzaRaiz(value){
        value == true ? document.querySelector('#contentCauzaRaiz').style.display = 'block' : document.querySelector('#contentCauzaRaiz').style.display = 'none'
    }
</script>
