@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>    This application uses Azure Active Directory (Azure AD) Single Sign-On (SSO) to authenticate users.
</p>

<p>
    When you sign in, we receive from Azure AD the following information:
</p>

<ul>
    <li>Name</li>
    <li>Email Address</li>
    <li>Azure AD User ID (Object ID)</li>
</ul>

<p>
    These data are used solely to:
</p>

<ul>
    <li>Control access to the system</li>
    <li>Identify the user responsible for actions within the system (audit trail)</li>
</ul>

<p>
    No passwords are stored by this application. Authentication is handled entirely by Azure AD.
</p>

<p>
    The collected data is not shared with third parties and is only processed within the scope of this application.
</p>

<p>
    If you have any questions: vitor.francisco@dpsp.com.br
</p>
