@model CommandCenter.Models.InformativosModel
@{
    Layout = null;
}

<div class="informativo-container">
    <h1>Encerrar Informativo</h1>

    <form asp-action="Edit" asp-controller="Informativos" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" asp-for="DescricaoImpacto" />
        <input type="hidden" asp-for="TipoImpacto" />
        <input type="hidden" asp-for="OperacaoAfetada" />
        <input type="hidden" asp-for="NaturezaIncidente" />
        <input type="hidden" asp-for="HorarioTermino" value="@DateTime.Now" />


        <div class="mb-3">
            <label class="form-label">Status</label>
            <input asp-for="Status" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-warning mt-3">Salvar Atualização</button>
    </form>
</div>